h1:hover{
    color: rgb(202, 13, 50);
    background-color: yellow;
    padding: 5px;
}
h1{
    color: red;
}
h2{
    color: forestgreen;
    background-color: yellow;
}

b{
    background-color: blue;
    color: white;
    padding: 10px ;

}
span{
    background-color: green;
    padding: 5px;
    border-radius: 7px;
}
span:hover{
    color: white;
    letter-spacing: 2px;
transform: scale(2);
}
